@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-montserrat: "Montserrat", sans-serif;
    --color-sunset: #ffc68a;
}

@layer utilities {
    .shadow-t {
        box-shadow: 0 -12px 24px -4px rgba(0, 0, 0, 0.1), 0 -6px 12px -4px rgba(0, 0, 0, 0.06); /* Ajustar valores para hacer el degradado más largo y difuminado */
    }
}