---
import Layout from "src/layouts/Layout.astro";
import CardBlog from "../components/blog/CardBlog";
import bgBlog from "@images/blog/bg_blog.webp";
import { IoIosArrowDown } from "react-icons/io";
import { FaSearch } from "react-icons/fa";
---

<Layout title="Blog">
  <section
    class="relative bg-cover bg-center h-96 lg:h-dvh 2xl:h-[100dvh] pt-16 lg:pt-20 lg:ps-20 flex flex-col justify-center items-center lg:items-start text-white"
    style={{
      backgroundImage: `linear-gradient(to bottom, rgba(0, 120, 111, .75), rgba(0,0,0,.75)), url(${bgBlog.src})`,
    }}
  >
    <h1
      style={{ textShadow: "rgba(0,0,0,.2) 1px 1px 20px" }}
      class="text-3xl lg:text-6xl 2xl:text-9xl font-extrabold mb-2 lg:mb-10 2xl:mb-16"
    >
      BLOG TAMI
    </h1>
    <p
      class="text-sm px-4 sm:px-0 lg:text-2xl 2xl:text-5xl/tight font-bold 2xl:font-semibold"
      style={{
        backgroundColor: "rgba(0, 128, 128, 0.5)",
        padding: "50px",
        borderTopRightRadius: "70px",
        borderBottomRightRadius: "70px",
        marginLeft: "-80px",
        paddingLeft: "80px",
      }}
    >
      En esta sección encontrarás temas sobre diseño de<br />
      interiores para entornos profesionales, como<br />
      oficinas, restaurantes, hoteles y eventos especiales,<br />
      incluyendo tips, artículos, tendencias y consejos.
    </p>
  </section>
  <section class="container mx-auto p-10 lg:px-32 px-4">
    <h2 class="text-teal-800 text-3xl font-bold mb-4 mx-4">
      Todos los artículos
    </h2>
    <div class="flex flex-col lg:flex-row items-center mb-6 mx-4 gap-4">
      <div class="relative flex items-center flex-grow w-full lg:w-auto">
        <FaSearch className="absolute left-3 text-teal-800" />
        <input
          type="text"
          placeholder="Buscar..."
          class="w-full border border-teal-800 rounded-3xl pl-10 pr-4 py-2 text-teal-800 focus:outline-none focus:border-2 focus:border-teal-800"
        />
      </div>
      <div class="flex flex-col lg:flex-row items-center w-full lg:w-auto gap-4">
        <label class="mr-2 lg:ml-4 text-teal-800">Filtrar por:</label>
        <div class="relative flex items-center w-full lg:w-auto">
          <select
            class="w-full lg:w-auto border border-teal-800 rounded-3xl pl-4 pr-10 py-2 text-teal-800 appearance-none focus:outline-none focus:border-2 focus:border-teal-800"
          >
            <option value="">Todas las categorías</option>
            <option value="Construcción">Construcción</option>
            <option value="Diseño">Diseño</option>
            <option value="Tecnología">Tecnología</option>
            <option value="Restauración">Restauración</option>
          </select>
          <IoIosArrowDown
            className="absolute right-3 text-teal-800 pointer-events-none"
          />
        </div>
      </div>
    </div>
    <CardBlog />
  </section>
</Layout>
