---
import Layout from "src/layouts/Layout.astro";
import CardBlog from "../components/blog/CardBlog";
import bgBlog from '@images/blog/bg_blog.webp';
---

<Layout title="Blog">
    <section
            class="relative bg-cover bg-center h-96 lg:h-dvh 2xl:h-[100dvh] pt-16 lg:pt-20 lg:ps-20 flex flex-col justify-center items-center lg:items-start text-white"
            style={{
                backgroundImage: `linear-gradient(to bottom, rgba(0, 120, 111, .75), rgba(0,0,0,.75)), url(${bgBlog.src})`,
            }}
    >
        <h1
                style={{ textShadow: "rgba(0,0,0,.2) 1px 1px 20px" }}
                class="text-3xl lg:text-6xl 2xl:text-9xl font-extrabold mb-2 lg:mb-10 2xl:mb-16"
        >
            BLOG TAMI
        </h1>
        <p
                class="text-sm px-4 sm:px-0 lg:text-2xl 2xl:text-5xl/tight font-bold 2xl:font-semibold"
                style={{
                    backgroundColor: "rgba(0, 128, 128, 0.5)",
                    padding: "50px",
                    borderTopRightRadius: "70px",
                    borderBottomRightRadius: "70px",
                    marginLeft: "-80px",
                    paddingLeft: "80px",
                }}
        >
            En esta sección encontrarás temas sobre diseño de<br />
            interiores para entornos profesionales, como<br />
            oficinas, restaurantes, hoteles y eventos especiales,<br />
            incluyendo tips, artículos, tendencias y consejos.
        </p>
    </section>
    <section class="container mx-auto p-4">
        <CardBlog apiUrl="aca insertar api" />
    </section>
</Layout>