---
import type Producto from "src/models/Product";
/* 
const response = await fetch("https://tu-dominio.com/api/products");
const products: Producto[] = await response.json();
const firstThree = products.slice(0, 3); // Tomar solo los 3 primeros */

const arrayDePrueba: Producto[] = [
  {
    id: "1",
    nombreProducto: "WPC Wall Panel",
    stockProducto: 0,
    precioProducto: 0,
    image: "/imagen_3.png",
  },
  {
    id: "2",
    nombreProducto: "Selladora de Botellas",
    stockProducto: 0,
    precioProducto: 0,
    image: "/Selladora de Botellas.webp",
  },
  {
    id: "3",
    nombreProducto: "Selladora de Vasos",
    stockProducto: 0,
    precioProducto: 0,
    image: "/Selladora de Vasos.webp",
  },
];
---

<ul class="w-full flex gap-8 overflow-x-scroll lg:overflow-x-none">
  {
    arrayDePrueba.map((item) => {
      return (
        <li class="bg-gradient-to-b to-white text-center justify-items-center text-teal-700 h-full group group-hover:cursor-pointer">
          <a
            href={`/products/${item.id}`}
            class="w-full h-full font-extrabold text-xl"
          >
            <img
              src={item.image}
              alt={item.nombreProducto}
              class="w-4/5 place-self-center group-hover:scale-110 ease-in-out transition-transform duration-300 mb-10"
            />
            {item.nombreProducto}
            <div class="my-8 place-self-center border border-teal-700 rounded-full px-5 py-2 w-fit group-hover:cursor-pointer group-hover:bg-teal-700 group-hover:text-white transition-colors duration-300">
              Información
            </div>
          </a>
        </li>
      );
    })
  }
</ul>
