---
import sectionCards from "@data/sectionCards.data";
import SectionCard from "./SectionCard.astro";
---

<section class="h-dvh w-full pt-20">
  <div class="lg:group relative flex w-full h-full gap-1">
    {
      sectionCards.map((item) => (
        <SectionCard
          id={item.id}
          title={item.title}
          image={item.image.src}
          paragraph={item.paragraph}
        />
      ))
    }
  </div>
</section>
