---
import sectionCards from "@data/sectionCards.data";
import SectionCard from "./SectionCard.astro";
---

<section class="h-[calc(100dvh-6.5rem)] w-full pt-[2%] px-5 shadow-t">
  <h2 class="text-4xl font-extrabold mb-4 text-center text-teal-600">
    OPTIMIZA TU TRABAJO, NEGOCIO Y HOGAR
  </h2>
  <!-- Agregar texto antes de las cartas -->
  <div class="lg:group relative flex w-full h-[90%] gap-4">
    <!-- Agregar clase group -->
    {
      sectionCards.map((item) => (
        <SectionCard
          id={item.id}
          title={item.title}
          image={item.image.src}
          paragraph={item.paragraph}
        />
      ))
    }
  </div>
</section>
