---
import sectionCards from "@data/sectionCards.data";
import SectionCard from "./SectionCard.astro";
---

<section class="h-[calc(100dvh-6.5rem)] w-full p-4 shadow-t flex flex-col">
  <h2 class="text-2xl md:text-4xl font-extrabold mb-2 p-4 text-center text-teal-600">
    OPTIMIZA TU TRABAJO, NEGOCIO Y HOGAR
  </h2>
  <div class="lg:group relative flex flex-col lg:flex-row w-full h-full gap-4">
    {sectionCards.map((item) => (
      <SectionCard
        id={item.id}
        title={item.title}
        image={item.image.src}
        paragraph={item.paragraph}
      />
    ))}
  </div>
</section>


